body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  background: #10ac84;
}

button {
  position: relative;
  color: white;
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 7px;
  padding: 18px 30px;
}

button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  left: -1%;
  top: -5px;
  background-color: grey;
  transform: skewX(30deg);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

button:hover::before {
  transform: skewX(0deg);
  left: 50%;
  top: 0;
}

button::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  left: 51%;
  top: 5px;
  background-color: orangered;
  transform: skewX(30deg);
  z-index: -1;
  transition: all 0.3s cubic-besier(0.68, -0.55, 0.265, 1.55);
}

button:hover::after {
  transform: skewX(0deg);
  left: 0%;
  top: 0;
}
