body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana;
  background: #222;
}

button {
  text-transform: uppercase;
  background: none;
  font-size: 25px;
  color: #f6b93b;
  letter-spacing: 3px;
  padding: 25px 50px;
  border: 3px solid #f6b93b;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

button::before,
button::after,
span::before,
span::after {
  content: "";
  position: absolute;
  background-color: #f6b93b;
  width: 25%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s;
}

button::before {
  top: 100%;
  left: 0;
}

button:hover::before {
  top: 0;
}

button::after {
  top: -100%;
  left: 25%;
  transition-delay: 0.1s;
}

button:hover::after {
  top: 0;
}

button span::before {
  top: 100%;
  right: 25%;
  transition-delay: 0.2s;
}

button:hover span::before {
  top: 0;
}

button span::after {
  top: -100%;
  right: 0;
  transition-delay: 0.3s;
}

button:hover span::after {
  top: 0;
}

button:hover {
  color: #222;
}
